{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{% static 'landing/img/favicon2.ico' %}" type="image/x-icon"/>
  <link rel="stylesheet" href="{% static 'landing/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'landing/css/style.css' %}">

  <title>Medved-Shop</title>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-4 offset-4">
      <h1 class="title">Наш магазин скоро откроется</h1>
      <h1 class="title">Оставьте ваш имейл в форме ниже</h1>
      <div>
<form method="post">
  {% csrf_token %}

  <div class="form-error">{{ form.non_field_errors }}</div>

  {% for f in form %}
  <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
  <div class="form-error">{{ f.errors }}</div>
  {% endfor %}

  <button class="submit">Отправить</button>

</form>

      </div>

    </div>
  </div>
</div>

<script src="{% static 'landing/js/bootstrap.bundle.min.js' %}"></script>
</body>
<footer>

</footer>