{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{% static 'landing/img/favicon2.ico' %}" type="image/x-icon"/>
  <link rel="stylesheet" href="{% static 'landing/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'landing/css/style.css' %}">

  <title>Medved-Shop</title>
</head>
<body>
<h1 class="title">Hello</h1>
<h1 class="title">How are you {{ name }}?</h1>
<p>Today is {{ current_day }}</p>

<script src="{% static 'landing/js/bootstrap.bundle.min.js' %}"></script>
</body>
<footer>

</footer>