<nav class="navbar navbar-top">

</nav>
<nav class="navbar navbar-main navbar-expand-lg">
  <div class="container-fluid bg-green text-white">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

    </div>
    <ul class="nav justify-content-right">
        <li class="nav-item navbar-nav">
          <div class="basket-container">
           <a class="nav-link active" aria-current="page" href="#">Корзина <span id="basket_total_amount"></span><span id="basket_total_nmb">
             <!--  Выводим количество  из context_processors  -->
             {% if products_total_nmb %}
                ({{ products_total_nmb }})
             {% else %}
                (0)
             {% endif %}
           </span></a>
            <div class="basket-items visually-hidden">
              <ul class="">
                <!--  Перебираем queryset из context_processors  -->
                {% for product_in_basket in products_in_basket %}
                  <li>{{ product_in_basket.product.name }}  {{ product_in_basket.nmb }} шт. по {{ product_in_basket.price_per_item }} руб.</li>
                {% endfor %}
              </ul>
            </div>
          </div>

        </li>
      </ul>
  </div>
</nav>